#slider
{
  position: relative;
  background-color: red;
  width: 100vw;
  height: 100vh;
  transition: .5s;
  overflow: hidden;

}

.slider__img
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  transition: .5s;
}
.slider__img img
{
  width: 100%;
}

.slider__buton
{
}
.slider__buton--back
{
  position: absolute;
  left: 0;
  top: 0;
  width: 20%;
  height: 100%;
  cursor: pointer;
}
.slider__buton--next
{
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;
  height: 100%;
  cursor: pointer;

}

.slider__buton i 
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  font-size: 34px;
  color: #fff;
  transition: .4s;
}

.btn:hover i
{
  width: 58px;
  height: 58px;
  font-size: 48px;
}

.slider__item--btn
{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50% , -10px);

}

.slider__item--btn ul
{
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.193);
  display: inline-flex;
  border-radius: 10px;
  padding: 2px 5px;
  box-shadow: 0 0 0 1px #fff;
}
.slider__item--btn ul li
{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  align-items: center;
  list-style: none;
  margin: 0 5px;
  cursor: pointer;
  transition: .4s;
}
.slider__item--btn ul li:hover
{
  background-color: #333;
}
.slider__item--btn ul li.active
{
  background-color: #333;
  border: 1px solid rgb(82, 82, 82);
  box-shadow:  1px 1px #ddd;
}